	 	<div class="temperature-content desctop">

	 		<div class="temperature m-right">
	 			<div class="temperature-title">
	 				+30<sup>о</sup>С
	 			</div>
	 			<div class="temperature-desc">
	 				Температура воздуха
	 			</div>
	 		</div>

	 		<div class="temperature m-right">
	 			<div class="temperature-title">
	 				+29<sup>о</sup>С
	 			</div>
	 			<div class="temperature-desc">
					Температура <br />
					воды <br />
					в бассейнах
	 			</div>
	 		</div>	

	 		<div class="temperature-bg">
	 			<img src="/images/gradus.png" alt="">
	 		</div>
	 		
	 		<div class="temperature m-left">
	 			<div class="temperature-title">
	 				+30<sup>о</sup>С
	 			</div>
	 			<div class="temperature-desc">
					Температура воздуха в душевой
	 			</div>
	 		</div>

	 		<div class="temperature m-left">
	 			<div class="temperature-title">
	 				+30<sup>о</sup>С
	 			</div>
	 			<div class="temperature-desc">
					Температура
					в раздевалках
	 			</div>
	 		</div>

	 	</div>