<div class="temperature-content mobile">
	<img data-src="/images/left-2.png"  class="lazyload route-left">
	<img data-src="/images/right-2.png" class="lazyload route-right">	
	<div class="temperature-content-wrapper owl-carousel">
		<div class="temperature m-right">
			<div class="temperature-title">
				+30<sup>о</sup>С
			</div>
			<div class="temperature-desc">
				Температура воздуха
			</div>
		</div>

		<div class="temperature m-right">
			<div class="temperature-title">
				+29<sup>о</sup>С
			</div>
			<div class="temperature-desc">
			Температура <br />
			воды <br />
			в бассейнах
			</div>
		</div>	

	
		<div class="temperature m-left">
			<div class="temperature-title">
				+30<sup>о</sup>С
			</div>
			<div class="temperature-desc">
			Температура воздуха в душевой
			</div>
		</div>

		<div class="temperature m-left">
			<div class="temperature-title">
				+30<sup>о</sup>С
			</div>
			<div class="temperature-desc">
			Температура
			в раздевалках
			</div>
		</div>		
	</div>


</div>