body {
	padding-bottom: 80px;
}

ul, li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none !important;
}

a:hover {
	text-decoration: none !important;
}

[class*="btn_"] {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	font-family: $CirceBold;
	font-size: 14px;
	text-align: center;
	height: 45px;
	@include radius(35px);
}

.btn_1 {
	padding-top: 12px;	
	width: 158px;
	background-color: #ec3156;
	border: 1px solid #ec3156;
	color: #FFF;
}

.btn_1:hover {
	transition: 0.4s;
	background-color: transparent;
	color: #ec3156;
}

.btn_2 {
	padding-top: 10px;	
	width: 158px;
	border: 3px solid #ec3156;
	color: #353535;
}

.btn_2:hover {
	transition: 0.4s;
	background-color: #ec3156;
	color: #FFF;
}
.module-top {
	margin-top: 65px;
}

.module_title {
	float: left;
	font-family: $CirceBold;
	font-size: 48px;
	color: #000;
}

.module_caption {
	position: relative;
	float: right;
	margin-top: 20px;
	font-family: $CirceReg3;
	font-size: 12px;		
	color: #383838;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

.module_caption:after {
	content: "";
	position: absolute;
	right: 0;
	bottom: -2px;
	display: inline-block;
	background-color: $blue;
	height: 3px;
	width: 100%;
	max-width: 102px;
}

.module_desc {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	font-family: $CirceReg;
	font-size: 16px;
	color: #272727;
	line-height: 18px;
}