<div class="rates theme-2 desctop">
	<div class="rates-wrapper">
		<div class="rate theme-blue theme-2">
			<div class="rate-left">
				<div class="rate-line"></div>
				<div class="rate-caption">
					Инструкторов
				</div>
			</div>
			<div class="rate-right">
				<div class="rate-price">
					60
				</div>
			</div>
		</div>

		<div class="rate theme-blue theme-2">
			<div class="rate-left">
				<div class="rate-line"></div>
				<div class="rate-caption">
					Уборщиков
				</div>
			</div>
			<div class="rate-right">
				<div class="rate-price">
					44
				</div>
			</div>
		</div>

		<div class="rate theme-blue theme-2">
			<div class="rate-left">
				<div class="rate-line"></div>
				<div class="rate-caption">
					Охранников
				</div>
			</div>
			<div class="rate-right">
				<div class="rate-price">
					27
				</div>
			</div>
		</div>	 				
	</div>

	<div class="rates-wrapper">
		<div class="rate theme-blue theme-2">
			<div class="rate-left">
				<div class="rate-line"></div>
				<div class="rate-caption">
					Администраторов
				</div>
			</div>
			<div class="rate-right">
				<div class="rate-price">
					20
				</div>
			</div>
		</div>

		<div class="rate theme-blue theme-2">
			<div class="rate-left">
				<div class="rate-line"></div>
				<div class="rate-caption">
					Поваров
				</div>
			</div>
			<div class="rate-right">
				<div class="rate-price">
					60
				</div>
			</div>
		</div>

		<div class="rate theme-blue theme-2">
			<div class="rate-left">
				<div class="rate-line"></div>
				<div class="rate-caption">
					Медиков
				</div>
			</div>
			<div class="rate-right">
				<div class="rate-price">
					4
				</div>
			</div>
		</div>	 				
	</div>
</div>