$colorTopNavA: #242424;
$hoverBorderTopNavA: $blue;
$colotPhone: $colorTopNavA;

$colorFooterA: #FFF;
$hoverBorderFooterA: #FFF;
$colorFooterPhone: $colorFooterA;
$footerBg: #28333d;

.mobile-top-nav {
	display: none;
	width: 100%;
	min-height: 75px;


	//CUSTOM SCROLL
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar	{
		background-color: #FFF !important;
		width: 5px;
	}

	.mCSB_scrollTools .mCSB_draggerRail {
		background-color: #07a4d1 !important;
		width: 5px;
	}

	.fogging-window {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 112;
		background-color: rgba(0, 0, 0, 0.54);        
	}

	.shade-touchstart-nav {
		position: fixed;
		height: 100%;
		z-index: 113;
		width: 12px;
	}

	.mobile-top-nav-wrapper {
		background-color: #FFF;
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 110;
		width: 100%;
		padding: 15px;
		padding-top: 25px;
		text-align: center;     
	}

	.phone:first-child {
		float: left;
		width: 25px;
		height: 25px;
		display: flex;
		-moz-border-radius: 50%; /* Firefox */
		-webkit-border-radius: 50%; /* Safari, Chrome */
		-khtml-border-radius: 50%; /* KHTML */
		border-radius: 50%; /* CSS3 */      
		background-color: $blue;
		
		a {
			margin: auto;
		}

		i {
			color: #FFF !important;
			margin: auto;
			font-size: 15px;
		}
	}

	.phone:nth-child(2) {
		display: inline-block;
		margin-top: 5px;
		margin-left: 25px;
		a {
			color: #FFF;
			font-family: $CirceReg4;
			text-decoration: none;
			font-size: 14px;
		}
	}

	.logo {
		display: flex;
		margin:  auto;

		a {
			margin: auto;
		}
		object {
			width: 112px;
		}
	}

	.logo.bottom {
		margin-top: 30px;
	}
	
	.burger {
		float: right;
		margin-top: 2px;
		margin: auto 0;
		i {
			font-size: 25px;
			color: $blue;
		}   
	}

	.burger.active {
		padding: 20px;
		i { 
			color: $blue;
		}
	}

	nav {
		display: inline-block;
		position: fixed;
		z-index: 120;
		left: 0;
		top: 0;
		height: 100%;
		background-color: $blue;
		transition: 0.4s;
		transform: translateX(-100%); 
	}

	nav.active {
		transform: translateX(0%);

		.phone:first-child {
			background-color: #FFF;

			i {
				color: $blue !important;
			}
		}
	}

	.nav-contacts {
		 padding: 20px;
		float: left;       
	}

	.nav-content {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 100%;
		padding-right: 18px;
	}

	nav ul {
		padding: 0;
		margin: 0;
		margin-top: 15px;
		li {
			list-style-type: none;
			height: 43px;
			display: inline-block;
			vertical-align: top;
			width: 100%;
			text-align: left;
			margin-top: 10px;
			padding-top: 12px;
			padding-left: 20px;
		}

		li.active {
			background-color: #FFF;

			a {
				color: #353535;
			}
		}

		a {
			position: relative;
			text-decoration: none;
			color: #FFF;
			font-family: $CirceReg;
			font-size: 14px;
		}
	}

	.nav-title {
		font-family: $CirceBold;
		font-size: 14px;
		color: #1d1d1d;
		padding-left: 20px;
	}

	.social.bottom {
		text-align: center;
		margin-top: 50px;

		a:not(:first-child) {
			margin-left: 15px;
		}
	}
}
@media screen and (max-width: 620px) and (min-width: 320px) {
	.mobile-top-nav {
		display: inline-block;
	}
}