.advantages {
	background-color: #f3f4f9;
	
	.advantages-content {
		position: relative;
		margin-top: 65px;
	}

	[class*="route-"] {
		text-align: center;
		display: inline-block;
		height: 30px;
		width: 30px;
		top: 25px;
		border: 2px solid #898989;
		padding-top: 5px;
		@include radius;
	}

	.route-left {
		left: -50px;
	}

	.route-right {
		right: -50px;
	}	
	
	.advantage {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		max-width: 122px;
	}

	.advantage-title {
		font-size: 36px;
		font-family: $CirceReg3;		
		color: $grey;

		span {
			font-family: $CirceReg;
			font-size: 14px;
			text-transform: uppercase;
			margin-left: 4px;
		}
	}

	.advantage-desc {
		font-family: $CirceReg;
		font-size: 14px;
		text-align: left;
		color: #000;
		line-height: 16px;
	}
}

@media screen and (max-width: 960px) and (min-width: 320px) {
	.advantages {

	}
}