<div class="gallery-news-content desctop">
	<div class="news-content">
		<div class="news-left">
			<div class="new theme-1-2 lazyload" data-src="/images/new-bg-2.jpg">
				<div class="new-title">Няня</div>
				<div class="new-desc">
					Иногда водных аттракционов для малышей 
					слишком много, <br /> они устают. Именно поэтому
					мы организовали в аквапарке <br /> «сухую» детскую зону,
					в которой они весело и познавательно<br />проведут 
					время с няней.
				</div>
			</div>	 				
		</div>

		<div class="news-right">
			<div class="new theme-2 colum-1">
				<div class="new-title">
					Жилеты и нарукавники.
				</div>
				<div class="new-desc">
					До 14 лет дети обязаны<br />носить нарукавники.<br />
					Предусмотрены также<br /> спасательные жилеты 3-х<br /> размеров, 
					которые<br /> предоставляются бесплатно.
				</div>
			</div>	

			<div class="new theme-3 colum-1">
				<div class="new-title">
					Детские бассейны и горки
				</div>
				<div class="new-desc">
					У нас одна из крупнейших<br /> детских зон в России – <br />
					более 1300 кв.м. Каждый<br /> ребенок найдет <br />
					развлечение по возрасту<br /> и по душе.
				</div>
			</div>	

			<div class="new theme-4-2 lazyload" data-src="images/new-bg-3.jpg">
				<div class="new-title">
					Детская игровая комната.
				</div>
				<div class="new-desc">
					Пожалуй, сложно найти более веселое место 
					для проведени<br />я дня рождения. Детское меню,
					мороженое, аниматоры и<br /> морские приключения 
					– все это понравится малышам!
				</div>
			</div>	 				
		</div>

		<div class="news-content">
			<div class="new theme-4-3">
				<div class="new-title">
					Туалет для деток
				</div>
				<div class="new-desc">
					Все очень мило. Маленький унитазик и раковина 
					специально для <br /> вашего малыша –
					рядом с детской зоной.
				</div>
			</div>	

			<div class="new theme-4-4 lazyload" data-src="images/new-bg-4.jpg">
				<div class="new-title">
					Дни рождения.
				</div>
				<div class="new-desc">
					Пожалуй, сложно найти более веселое место 
					для проведения дня <br />рождения. Детское меню,
					 мороженое, аниматоры и морские <br />приключения 
					 – все это понравится малышам!
				</div>
			</div>									
		</div>							
	</div>

	<div class="button-container">
		<div class="btn_1">Купить билеты</div>
	</div>
</div>