.gallery-news {
	background-color: #f3f4f9;

	.gallery-news-content {
		margin-top: 60px;
		display: inline-block;
		vertical-align: top;
		width: 100%;		
	}

	.new {
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding-left: 10px;
		text-align: left;
		margin-top: 8px;
	}

	.news-content {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		text-align: justify;
	}

	.news-left,
	.news-right {
		width: 475px;
	}

	.news-left {
		float: left;
	}


	.news-right {
		float: right;
	}

	.news-content:after {
		content: "";
		display: inline-block;
		width: 100%;
	}
	.new-title {
		font-family: $CirceReg4;
		font-size: 18px;
		line-height: 18px;
	}

	.new-desc {
		font-family: $CirceReg;
		font-size: 14px;
		line-height: 16px;
		margin-top: 15px;
	}

	.new-title,
	.new-desc {
		position: relative;
		z-index: 2;
	}

	.new.theme-1 {
		.new-title {
			margin-top: 277px;
		}
	}

	.new.theme-1-2 {
		.new-title {
			margin-top: 315px;
		}
	}

	.new.theme-1-2,
	.new.theme-1 {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 475px;
		height: 436px;		
	}


	.new.theme-1:after,
	.new.theme-1-2:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(69, 199, 236, 0.83);		
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 100%;
	}

	.new.theme-1,
	.new.theme-1-2,
	.new.theme-4 {
		.new-title,
		.new-desc {
			color: #FFF;
		}		
	}

 	.new.theme-2 {
		background-color: #FFF;
	}

	.new.theme-3 {
		background-color: #d5f1ff;
	}

	.new.colum-1 {
		.new-title {
			margin-top: 58px;
		}		
	}

	.new.colum-1-2 {
		.new-title {
			margin-top: 25px;
		}				
	}

	.new.colum-1-2,
	.new.colum-1 {
		width: 232px;
		height: 214px;	
	}

	.new.theme-2,
	.new.theme-3 {

		.new-title,
		.new-desc {
			color: #272727;
		}
	}

	.new.theme-4 {
		.new-title {
			margin-top: 55px;
		}
	}

	.new.theme-4-2 {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		.new-title {
			margin-top: 88px;
		}
	}	

	.new.theme-4-2:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(236, 49, 86, 0.83);		
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 100%;
	}
	.new.theme-4,
	.new.theme-4-2 {
		background-color: #ec3156;
		width: 475px;
		height: 214px;

		.new-title,
		.new-desc {
			color: #FFF;
		}		
	}

	.new.theme-4-3,
	.new.theme-4-4 {
		width: 475px;
		height: 214px;

		.new-title {
			margin-top: 55px;
		}
	}


	.new.theme-4-3 {
		background-color: #d5f1ff;
		.new-title,
		.new-desc {
			color: #272727;
		}		
	}

	.new.theme-4-4 {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;		
		.new-title,
		.new-desc {
			color: #FFF;
		}		
	}	

	.new.theme-4-4:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(69, 199, 236, 0.83);		
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 100%;
	}

	.theme-5 {
		background-color: #45c7ec;

		.new-title,
		.new-desc {
			color: #FFF;
		}	
	}	

	.theme-6 {
		background-color: #ec3156;
		.new-title,
		.new-desc {
			color: #FFF;
		}			
	}	

	.ajax-content {
		.news-content {
			display: none;
		}

		.new {
			opacity: 0;
		}
		
		.new.active {
			transition: 0.4s;
			opacity: 1;
		}
	}

	[class*="btn_"] {
		margin-top: 32px;
	}
}

@media screen and (max-width: 960px) and (min-width: 320px) {
	.gallery-news {

	}
}