.fixed-contacts {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 68px;
	z-index: 50;
	text-align: center;
	background-color: $w;
	padding-top: 14px;

	.module_wrapper {
		position: relative;
	}

	.message {
		position: absolute;
		left: 0;
		top: 0;		
		cursor: pointer;
		float: left;
		margin-top: 10px;
		text-align: left;
		color: $grey;
		font-family: $CirceReg3;
		font-size: 14px;
	}

	.message:after {
		content: "";
		display: inline-block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -1px;
		width: 100%;
		height: 1px;
		background-color: #b9b9b9;
	}

	.message:hover {
		transition: 0.4s;
		opacity: 0.7;
	}
	.container-button {
		margin: auto;
	}

	.contacts {
		position: absolute;
		right: 0;
		top: 0;
		margin-top: 5px;
		width: 150px;
		float: right;
		text-align: right;
		line-height: 17px;
	}

	.phone {
		a {
			font-family: $CirceReg4;
			font-size: 18px;
			color: #ec3257;
		}
	}

	.address {
		color: $grey;
		font-family: $CirceReg4;
		font-size: 11px;		
	}
}

@media screen and (max-width: 520px) and (min-width: 320px) {
	.fixed-contacts {
		.message,
		.contacts {
			display: none;
		}
	}
}