.advantages-2 {
	background-color: #f3f4f9;
	.items {
		text-align: justify;
	}

	.items:after {
		content: "";
		display: inline-block;
		width: 100%;		
	}

	.item {
		background-color: #FFF;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		max-width: 298px;
		min-height: 335px;
		padding-left: 30px;
		margin-top: 75px;
		text-align: left;
	}

	.item-bg {
		margin-top: 40px;
		min-height: 75px;
		text-align: center;
	}

	.item-title {
		font-family: $CirceReg4;
		font-size: 18px;
		line-height: 20px;
		color: #000;
	}

	.item-desc {
		font-family: $CirceReg;
		font-size: 14px;
		line-height: 16px;
		color: #272727;		
		margin-top: 22px;
	}

}

@media screen and (max-width: 960px) and (min-width: 320px) {
	.advantages-2 {

	}
}