#header-bunner-fix {
	height: 1080px;
}

.header-bunner {
	background-color: #f3f4f9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.bunner {
		position: relative;
	}

	.bunner:not(:first-child) {
		display: none;
	}
	
	.bunner-title {
		display: inline-block;
		vertical-align: top;
		font-family: $CirceReg3;
		font-size: 40px;
		line-height: 43px;
		text-transform: uppercase;
		color: $grey;
		margin-top: 150px;
	}

	.bunner-desc {
		font-family: $CirceReg;
		font-size: 14px;
		color: #312c28;
		padding-left: 18px;
		border-left: 4px solid $blue;
		margin-top: 35px;
	}

	.bunner-bg {
		img {
			position: absolute;
			top: 0;
			left: 400px;
			max-width: none;
		}
	}

	[class*="btn_"] {
		margin-top: 32px;
	}

	.pagination {
		margin-top: 40px;

		span {
			cursor: pointer;
			display: inline-block;
			margin-right: 5px;
			width: 10px;
			height: 10px;
			background-color: #ec3156;
			border: 1px solid #ec3156;
			@include radius;
		}

		span.active {
			transition: 0.4s;
			border-color: #353535;
		}

		span:hover {
			transition: 0.4s;
			opacity: 0.7;
		}
	}
}
