<div class="gallery-news-content desctop">
	<div class="news-content">
		<div class="news-left">
	 		<div class="new theme-1 lazyload" data-src="/images/new-bg.jpg">
	 			<div class="new-title">Мощные фены.</div>
	 			<div class="new-desc">
	 				Мы не хотим, чтобы вы простудились. 
	 				Раздевалки оснащены <br />90 удобными фенами мощностью 
	 				750 Вт, 8 настенными <br />фенами с бесконтактным 
	 				включением - мощностью 1000 Вт.
	 			</div>
	 		</div>	 				
		</div>

		<div class="news-right">
	 		<div class="new theme-2 colum-1">
	 			<div class="new-title">
	 				Сушилки<br />
	 				для купальников.
	 			</div>
	 			<div class="new-desc">
					В зоне раздевалок есть<br /> моментальные сушки. 
					Всего<br /> 10 секунд и ваш купальный <br />костюм абсолютно сухой!
	 			</div>
	 		</div>	

	 		<div class="new theme-3 colum-1">
	 			<div class="new-title">
	 				Зеркала.
	 			</div>
	 			<div class="new-desc">
					Мы разместили в зоне<br /> раздевалок более 40 <br />
					безопасных зеркал, чтобы вы<br /> всегда были уверены 
					в своей неотразимости.
	 			</div>
	 		</div>	

	 		<div class="new theme-4">
	 			<div class="new-title">
	 				Пеленальные столики.
	 			</div>
	 			<div class="new-desc">
					Мы предусмотрели отдельную зону для пеленания,
					 с двумя<br /> удобными откидными столиками для 
					 переодевания малышей и <br />двумя стульчиками для 
					 кормления в раздевалке, а также комнату<br /> матери 
					 и ребенка, в которой расположены 1 .стационарный <br />
					 пеленальный столик, 2 стульчика для кормления, 
					 кулер и<br /> микроволновка.
	 			</div>
	 		</div>	 				
		</div>

		<div class="ajax-content">
			<div class="news-content no-active">
		 		<div class="new theme-2 colum-1-2">
		 			<div class="new-title">
		 				Продуманная <br />
						функциональность.
		 			</div>
		 			<div class="new-desc">
						Вы пришли всей семьей?<br /> Тогда вам подойдет <br />
						объемный шкафчик. Для<br /> удобства малоподвижных <br />
						групп населения проходы в<br /> раздевалках – 
						широкие, шкафчики – более низкие.
		 			</div>
		 		</div>	

		 		<div class="new theme-3 colum-1-2">
		 			<div class="new-title">
		 				Кабинки <br /> для переодевания.
		 			</div>
		 			<div class="new-desc">
						В аквапарке есть 100 кабинок<br /> для 
						переодевания, чтобы вы<br /> не тратили 
						время на<br /> ожидание, а наслаждались <br />
						прекрасным отдыхом.
		 			</div>
		 		</div>	

		 		<div class="new theme-5 colum-1-2">
		 			<div class="new-title">
		 				Уборка каждый час.
		 			</div>
		 			<div class="new-desc">
						Мы обрабатываем и <br />дезинфицируем каждый <br />
						сантиметр душевых кабин не<br /> менее 1 раза в час.
		 			</div>
		 		</div>	

		 		<div class="new theme-6 colum-1-2">
		 			<div class="new-title">
		 				Забыли мыло?
		 			</div>
		 			<div class="new-desc">
						В каждой душевой установлен <br />удобный 
						диспенсер «2 в 1»<br /> - гель для душа и шампунь.
		 			</div>
		 		</div>		 				
			</div>

			<div class="news-content no-active">
		 		<div class="new theme-2 colum-1-2">
		 			<div class="new-title">
		 				Продуманная <br />
						функциональность.
		 			</div>
		 			<div class="new-desc">
						Вы пришли всей семьей?<br /> Тогда вам подойдет <br />
						объемный шкафчик. Для<br /> удобства малоподвижных <br />
						групп населения проходы в<br /> раздевалках – 
						широкие, шкафчики – более низкие.
		 			</div>
		 		</div>	

		 		<div class="new theme-3 colum-1-2">
		 			<div class="new-title">
		 				Кабинки <br /> для переодевания.
		 			</div>
		 			<div class="new-desc">
						В аквапарке есть 100 кабинок<br /> для 
						переодевания, чтобы вы<br /> не тратили 
						время на<br /> ожидание, а наслаждались <br />
						прекрасным отдыхом.
		 			</div>
		 		</div>	

		 		<div class="new theme-5 colum-1-2">
		 			<div class="new-title">
		 				Уборка каждый час.
		 			</div>
		 			<div class="new-desc">
						Мы обрабатываем и <br />дезинфицируем каждый <br />
						сантиметр душевых кабин не<br /> менее 1 раза в час.
		 			</div>
		 		</div>	

		 		<div class="new theme-6 colum-1-2">
		 			<div class="new-title">
		 				Забыли мыло?
		 			</div>
		 			<div class="new-desc">
						В каждой душевой установлен <br />удобный 
						диспенсер «2 в 1»<br /> - гель для душа и шампунь.
		 			</div>
		 		</div>		 				
			</div>

			<div class="news-content no-active">
		 		<div class="new theme-2 colum-1-2">
		 			<div class="new-title">
		 				Продуманная <br />
						функциональность.
		 			</div>
		 			<div class="new-desc">
						Вы пришли всей семьей?<br /> Тогда вам подойдет <br />
						объемный шкафчик. Для<br /> удобства малоподвижных <br />
						групп населения проходы в<br /> раздевалках – 
						широкие, шкафчики – более низкие.
		 			</div>
		 		</div>	

		 		<div class="new theme-3 colum-1-2">
		 			<div class="new-title">
		 				Кабинки <br /> для переодевания.
		 			</div>
		 			<div class="new-desc">
						В аквапарке есть 100 кабинок<br /> для 
						переодевания, чтобы вы<br /> не тратили 
						время на<br /> ожидание, а наслаждались <br />
						прекрасным отдыхом.
		 			</div>
		 		</div>	

		 		<div class="new theme-5 colum-1-2">
		 			<div class="new-title">
		 				Уборка каждый час.
		 			</div>
		 			<div class="new-desc">
						Мы обрабатываем и <br />дезинфицируем каждый <br />
						сантиметр душевых кабин не<br /> менее 1 раза в час.
		 			</div>
		 		</div>	

		 		<div class="new theme-6 colum-1-2">
		 			<div class="new-title">
		 				Забыли мыло?
		 			</div>
		 			<div class="new-desc">
						В каждой душевой установлен <br />удобный 
						диспенсер «2 в 1»<br /> - гель для душа и шампунь.
		 			</div>
		 		</div>		 				
			</div>

			<div class="news-content no-active">
		 		<div class="new theme-2 colum-1-2">
		 			<div class="new-title">
		 				Продуманная <br />
						функциональность.
		 			</div>
		 			<div class="new-desc">
						Вы пришли всей семьей?<br /> Тогда вам подойдет <br />
						объемный шкафчик. Для<br /> удобства малоподвижных <br />
						групп населения проходы в<br /> раздевалках – 
						широкие, шкафчики – более низкие.
		 			</div>
		 		</div>	

		 		<div class="new theme-3 colum-1-2">
		 			<div class="new-title">
		 				Кабинки <br /> для переодевания.
		 			</div>
		 			<div class="new-desc">
						В аквапарке есть 100 кабинок<br /> для 
						переодевания, чтобы вы<br /> не тратили 
						время на<br /> ожидание, а наслаждались <br />
						прекрасным отдыхом.
		 			</div>
		 		</div>	

		 		<div class="new theme-5 colum-1-2">
		 			<div class="new-title">
		 				Уборка каждый час.
		 			</div>
		 			<div class="new-desc">
						Мы обрабатываем и <br />дезинфицируем каждый <br />
						сантиметр душевых кабин не<br /> менее 1 раза в час.
		 			</div>
		 		</div>	

		 		<div class="new theme-6 colum-1-2">
		 			<div class="new-title">
		 				Забыли мыло?
		 			</div>
		 			<div class="new-desc">
						В каждой душевой установлен <br />удобный 
						диспенсер «2 в 1»<br /> - гель для душа и шампунь.
		 			</div>
		 		</div>		 				
			</div>		 					 					 			
		</div>	 			
	</div>

	<div class="button-container desctop">
		<div class="btn_2 show-more-news">Показать еще</div>
	</div>

</div>