@@include('header.html', {
	"title": "Привет, это структура front-end",
	"desc": "",
	"h1": "",
	"css": [
		"template"
	]
})	


@@include('site/widgets/left-nav/widget.html')
@@include('site/modules/fixed-contacts/module.html')
@@include('site/modules/header-bunner/module.html')
<div class="modules">
@@include('site/modules/advantages/module.html')
@@include('site/modules/attractions/module.html')
@@include('site/modules/prices/module.html')
@@include('site/modules/about/module.html')
@@include('site/modules/about-2/module.html')
@@include('site/modules/gallery-news/module.html')
@@include('site/modules/temperature/module.html')
@@include('site/modules/purity/module.html')
@@include('site/modules/about-3/module.html')
@@include('site/modules/gallery-news-copy-1/module.html')
@@include('site/modules/prices-copy-1/module.html')
@@include('site/modules/clinic/module.html')
@@include('site/modules/gallery-news-copy-2/module.html')
@@include('site/modules/about-3-copy-1/module.html')
@@include('site/modules/gallery-news-copy-3/module.html')
@@include('site/modules/advantages-2/module.html')
@@include('site/modules/advantages-2-1copy/module.html')
@@include('site/modules/contacts/module.html')
</div>
@@include('site/widgets/modal/widget.html')

@@include('footer.html', {
	"js": [
		"template"
	]
})
